{% extends "base_template.html" %}

{% block title %}
    Nueva Comida
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}

        <div>
            {{ form.categoria.label }}
            {{ form.categoria }}
            {% for error in form.categoria.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.nombre.label }}
            {{ form.nombre(size=60) }}<br>
            {% for error in form.nombre.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.precio.label }}
            {{ form.precio }}<br>
            {% for error in form.precio.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>

        <div>
            {{ form.comida_image.label }}
            {{ form.comida_image }}<br>
            {% for error in form.comida_image.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        
        <div>
            {{ form.submit() }}
        </div>
    </form>
    
{% endblock %}