{% extends "base_template.html" %}

{% block title %}PIZZERÍA DON REMOLO{% endblock %}

{% block content %}

<h2>¡Pide lo que quieras y te lo llevamos gratis!</h2>

<h2>Pizzas</h2>
{% for comida in comidas %}
    {% if comida.categoria == 'Pizzas'%}
    <div>   
        <h3>{{ comida.nombre }} </h3>
        <p>${{ comida.precio }}</p>
        {% if current_user.is_anonymous %}
            <button>Agregar al carrito</button>
        {% else %}
            <button>Editar Producto</button>
        {% endif %}
    </div>
    {% endif%}
{% endfor %}

<h2>Empanadas</h2>
{% for comida in comidas %}
    {% if comida.categoria == 'Empanadas'%}
    <div>   
        <h3>{{ comida.nombre }} </h3>
        <p>${{ comida.precio }}</p>
        {% if current_user.is_anonymous %}
            <button>Agregar al carrito</button>
        {% else %}
            <button>Editar Producto</button>
        {% endif %}
    </div>
    {% endif%}
{% endfor %}

<h2>Bebidas</h2>
{% for comida in comidas %}
    {% if comida.categoria == 'Bebidas'%}
    <div>   
        <h3>{{ comida.nombre }} </h3>
        <p>${{ comida.precio }}</p>
        {% if current_user.is_anonymous %}
            <button>Agregar al carrito</button>
        {% else %}
            <button>Editar Producto</button>
        {% endif %}
    </div>
    {% endif%}
{% endfor %}

<h2>Postres y Helados</h2>
{% for comida in comidas %}
    {% if comida.categoria == 'Postres y Helados'%}
    <div>   
        <h3>{{ comida.nombre }} </h3>
        <p>${{ comida.precio }}</p>
        {% if current_user.is_anonymous %}
            <button>Agregar al carrito</button>
        {% else %}
            <button>Editar Producto</button>
        {% endif %}
    </div>
    {% endif%}
{% endfor %}




{% for categoria in categorias %}
    <h1>{{ categoria.nombre_categoria }}</h1>
{% endfor%}


{% endblock%}
